@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.progress-circle {
  background: conic-gradient(#3b82f6 calc(var(--percentage) * 1%), #e5e7eb 0);
  border-radius: 50%;
}
